// Colors

// Theme Colors
$color-primary: #ffffff;
$color-secondary: #e1e1e1;
$color-tertiary: #eeeeee;

// UI Indication Colors
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-info: #007bff;
$color-light: #f8f9fa;
$color-mid: #6c757d;
$color-dark: #343a40;

// Buttons

// Btn Small
$btn-sm-padding: 5px;
$btn-sm-font-size: 0.8rem;
$btn-sm-border-radius: 4px;

// Btn
$btn-padding: 10px;
$btn-font-size: 1rem;
$btn-border-radius: 6px;

// Btn Large
$btn-lg-padding: 10px 15px;
$btn-lg-font-size: 1.2rem;
$btn-lg-border-radius: 10px;
