@import '../theme.scss';

%button {
  border: none;
}

button {
  @extend %button;
  padding: $btn-padding;
}

button.sm {
  @extend %button;
  padding: $btn-sm-padding;
}

button.lg {
  @extend %button;
  padding: $btn-lg-padding;
}
