@import '../theme.scss';

@mixin backgroundColors() {
  &.success {
    background-color: $color-success;
    color: #ffffff;
  }

  &.warning {
    background-color: $color-warning;
    color: #222222;
  }

  &.danger {
    background-color: $color-danger;
    color: #ffffff;
  }

  &.info {
    background-color: $color-info;
    color: #ffffff;
  }

  &.light {
    background-color: $color-light;
    color: #222222;
  }

  &.mid {
    background-color: $color-mid;
    color: #ffffff;
  }

  &.dark {
    background-color: $color-dark;
    color: #ffffff;
  }
}
